@model Appweb.ViewModels.CreatePhoneViewModel
@{
    ViewBag.Title = "Adding Phone";
}
<form asp-action="CreatePhone" asp-controller="Users">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Name" class="control-label">Name</label>
        <input type="text" asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Model" class="control-label">Kind</label>
        <input type="text" asp-for="Model" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Color" class="control-label">Color</label>
        <input type="text" asp-for="Color" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label">Description</label>
        <input type="text" asp-for="Description" class="form-control" />
    </div>

    <div class="form-group">
        <input type="submit" value="Add" class="btn btn-outline-secondary" />
    </div>
</form>