@model Appweb.ViewModels.EditPlantViewModel
@{
    ViewBag.Title = "EditPlant";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<form asp-action="EditPlant" asp-controller="Users">
    <div asp-validation-summary="All" class="text-danger"></div>
     <div class="form-group">
         <input type="hidden" asp-for="PlantID" />
     </div>
     <div class="form-group">
         <input type="hidden" asp-for="CollectionID" />
     </div>

    <div class="form-group">
        <label asp-for="Name" class="control-label">Name</label>
        <input type="text" asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Kind" class="control-label">Kind</label>
        <input type="text" asp-for="Kind" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Color" class="control-label">Color</label>
        <input type="text" asp-for="Color" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label">Description</label>
        <input type="text" asp-for="Description" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-outline-secondary" />
    </div>
</form>