@model Appweb.ViewModels.EditBookViewModel
@{
    ViewBag.Title = "Edit Book";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<form asp-action="EditBook" asp-controller="Users">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <input type="hidden" asp-for="BookID" />
    </div>
    <div class="form-group">
        <input type="hidden" asp-for="CollectionID" />
    </div>

    <div class="form-group">
        <label asp-for="Name" class="control-label">Name</label>
        <input type="text" asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Type" class="control-label">Type</label>
        <input type="text" asp-for="Type" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Author" class="control-label">Author</label>
        <input type="text" asp-for="Author" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label">Description</label>
        <input type="text" asp-for="Description" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-outline-secondary" />
    </div>
</form>