@model Appweb.Domain.Core.User;
@using Appweb.Domain.Core;
@{
    ViewBag.Title = "Collection";
}

<div class="display-label">
    <ul>
        @*foreach (Book c in Model.Books)
        {
            <li>@c.Name</li>
        }*@
    </ul>
</div>
