@using Microsoft.AspNetCore.Identity;
@using Appweb.Domain.Core;
@using Appweb.Infrastructure.Data;
@inject SignInManager<User> signInManager
@inject UserManager<User> userManager
@inject ApplicationContext context
@{
    ViewData["Title"] = "Home Page";
    ViewBag.colID = "";
    ViewBag.text = "";
}

@if (User.Identity.IsAuthenticated)
{
    <div class="indexout1">
        <h5>@User.Identity.Name</h5>
        <h5>@Model.Name</h5>
        <h5>@Model.DateReg</h5>
        <form method="post" asp-controller="Account" asp-action="Logout">
            <input type="submit" class="btn btn-outline-dark" value="LogOut" />
        </form>
    </div>

}